<!-- Model pages -->
{% for instance in instances %}
        <div class="modal fade modal-redact" id="{{instance.id}}modify_sell" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal label_black" action="{%url 'auths:modify_myinstance'%}" method="POST" id='add_job_form' role="form">
                {% csrf_token %} 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="color:#f95446;" id="myModalLabel">Изменить объявление</h4>
                </div>
                <div class="modal-body">
                    <label for="title">
                      Название объявления
                    </label>
                    <input class="form-control" value="{{instance.title}}" name="title" id="title" required type="text" maxlength="60" placeholder="пример:Срочно продаю iPhone 5s в хорошем состоянии"><br>
                    <label for="input-17">
                        Состояние
                      </label>
                      <select class="form-control" name = "condition" required id="input-17">
                        {% if instance.condition == 'Новый (как новый)' %}
                            <option selected="" value="Новый (как новый)">Новый (как новый)</option>
                        {% else %}
                            <option value="Новый (как новый)">Новый (как новый)</option>
                        {% endif %}
                        {% if instance.condition == 'Отличный (есть небольшие царапины )' %}
                            <option selected="" value="Отличный (есть небольшие царапины )">Отличный (есть небольшие царапины )</option>
                        {% else %}
                            <option value="Отличный (есть небольшие царапины )">Отличный (есть небольшие царапины )</option>
                        {% endif %}
                        {% if instance.condition == 'Среднее' %}
                            <option selected="" value="Среднее">Среднее(есть царапины и потертости)</option>
                        {% else %}
                            <option value="Среднее">Среднее(есть царапины и потертости)</option>
                        {% endif %}
                        {% if instance.condition == 'Плохое (есть сколы, треск, разбитый экран и т.д.)' %}
                            <option selected="" value="Плохое (есть сколы, треск, разбитый экран и т.д.)">Плохое (есть сколы, треск, разбитый экран и т.д.)</option>
                        {% else %}
                            <option value="Плохое (есть сколы, треск, разбитый экран и т.д.)">Плохое (есть сколы, треск, разбитый экран и т.д.)</option>
                        {% endif %}
                        {% if instance.condition == 'На запчасти' %}
                            <option selected="" value="На запчасти">На запчасти</option>
                        {% else %}
                            <option value="На запчасти">На запчасти</option>
                        {% endif %}
                      </select>

                      <label for="input-20">
                      <br>
                        Гарантия
                      </label>
                      <select class="form-control" name = "guarantee" required id="input-20">
                        {% if instance.guarantee == 'Нет гарантии' %}
                            <option selected="" value="Нет гарантии">Нет гарантии</option>
                        {% else %}
                            <option value="Нет гарантии">Нет гарантии</option>
                        {% endif %}
                        {% if instance.guarantee == 'Три дня' %}
                            <option selected="" value="Три дня">Три дня</option>
                        {% else %}
                            <option value="Три дня">Три дня</option>
                        {% endif %}
                        {% if instance.guarantee == 'Одна неделя' %}
                            <option  selected=""value="Одна неделя">Одна неделя</option>
                        {% else %}
                            <option value="Одна неделя">Одна неделя</option>
                        {% endif %}
                        {% if instance.guarantee == 'Две недели' %}
                            <option selected="" value="Две недели">Две недели</option>
                        {% else %}
                            <option value="Две недели">Две недели</option>
                        {% endif %}
                        {% if instance.guarantee == 'Месяц' %}
                            <option selected="" value="Месяц">Месяц</option>
                        {% else %}
                            <option value="Месяц">Месяц</option>
                        {% endif %}
                        {% if instance.guarantee == 'Более месяца' %}
                            <option selected="" value="Более месяца">Более месяца</option>
                        {% else %}
                            <option value="Более месяца">Более месяца</option>
                        {% endif %}
                      </select>
                      <label for="input-22">
                        <br>Обмен
                      </label>
                      <select class="form-control" name = "exchange" required id="input-22">
                        {% if instance.exchange == False %}  
                            <option selected="" value="0">Нет</option>
                            <option value="1">Есть</option>
                        {% else %}
                            <option value="0">Нет</option>
                            <option selected="" value="1">Есть</option>
                        {% endif %}
                      </select>

                      <label for="input-23">
                        <br>Торг
                      </label>
                      <select class="form-control" name = "bargain" required id="input-23">
                        {% if instance.bargain == False %}
                            <option selected="" value="0">Нет</option>
                            <option value="1">Есть</option>
                        {% else %}
                            <option value="0">Нет</option>
                            <option selected="" value="1">Есть</option>
                        {% endif %}
                      </select>

                    <label for="phone_num"><br>Номер телефона</label><br>
                    <input class="form-control " required type="text" value="{{instance.telephones}}" name="phone_num" id="phone_num" placeholder=""><br>
                    <label for="note">Описание</label><br>
                    <textarea class="form-control "  required name="note" id="note" cols="61" rows = "4">{{instance.note}}</textarea>
                    <br>
                    <label for="price">Цена</label><br>
                    <input required  type="number" name="price" id="price" value="{{instance.price}}" placeholder="">(сом)<br>
                    <br> 
                    <input type="hidden" value="{{instance.id}}" name="instance_id" >
                    <input type="hidden" value="sell" name="sell_or_buy" >


                    <div class="modal-footer">
                        <input type='submit' value='Редактировать'  class="btn btn-success" role="button">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
              </div>
              </form>
            </div>
          </div>
        </div>
    {% endfor %}

    <!-- Model pages -->
{% for instance in instances_to_buy %}
    <div class="modal fade modal-redact" id="{{instance.id}}modify_buy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal label_black" action="{%url 'auths:modify_myinstance'%}" method="POST" id='add_job_form' role="form">
            {% csrf_token %} 
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#f95446;" id="myModalLabel">Изменить объявление</h4>
            </div>
            <div class="modal-body">
                <label for="title">
                  Название объявления
                </label>
                <input class="form-control" value="{{instance.title}}" name="title" id="title" required type="text" maxlength="60" placeholder="пример:Срочно куплю iPhone 6 в хорошем состоянии"><br>

                <label for="phone_num"><br>Номер телефона</label><br>
                <input class="form-control " required type="text" value="{{instance.telephones}}" name="phone_num" id="phone_num" placeholder=""><br>
                <label for="note">Описание</label><br>
                <textarea class="form-control "  required name="note" id="note" cols="61" rows = "4">{{instance.note}}</textarea>
                <br>
                <label for="price">Минимальная Цена</label><br>
                <input required  type="number" name="min_price" id="price" value="{{instance.min_price}}" placeholder="">(сом)<br>
                <br> 
                <label for="price">Максимальная Цена</label><br>
                <input required  type="number" name="max_price" id="price" value="{{instance.max_price}}" placeholder="">(сом)<br>
                <br> 
                <input type="hidden" value="{{instance.id}}" name="instance_id" >
                <input type="hidden" value="buy" name="sell_or_buy" >

                <div class="modal-footer">
                    <input type='submit' value='Редактировать'  class="btn btn-success" role="button">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
          </div>
          </form>
        </div>
      </div>
    </div>
{% endfor %}