{%load staticfiles%}
<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="купить, продать, смартфоны, сотка, бишкек, кыргызстан, купить смартфон в бишкеке, ноутбуки, iphone в бишкеке, продать в бишкеке, apple, macbook, ultrabook, ibox">
    <meta name="author" content="iBox Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/bootstrap.min.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'libraries/colorbox/colorbox.css' %}" media="screen, projection">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/mycss.css' %} " media="screen, projection">

    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/carat2.css' %} " media="screen, projection">
    <!-- Material Design -->
    <link rel="stylesheet" type="text/css" href=" {% static 'MDB/css/mdb_pro.css' %} " media="screen, projection">
    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,400,700,400italic,700italic" rel="stylesheet" type="text/css"  media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/my.css' %} " media="screen, projection">
    {% include 'metrics.html' %}
    <title>iBox | Покупай и продавай вместе с нами!</title>
</head>
<body>
<!-- Include header template-->
{% include "header.html"%}

<div class="infobar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb pull-left">
		  			<li><a href="{% url 'main:main'%}">Главная</a></li>
            <li><a href="{% url 'auths:profile'%}">{{user.username}}</a></li>
            <li><a href="">редактировать аккаунт</a></li>
				</ol>

				<div class="contact pull-right">
					<div class="contact-item mail">
						<div class="label"><i class="icon icon-normal-mail"></i></div><!-- /.label -->
						<div class="value">info@ibox.kg</div><!-- /.value -->
					</div><!-- /.mail -->
				</div><!-- /.contact -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.infobar -->  

<div id="content" class="frontpage">

	<div class="filter-wrapper">
  {% include 'messages.html' %}
  {% include 'add_instance_icons.html' %}
        
    

    <div class="section gray-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div id="main">
                        <div class="row-block block" id="best-deals">
	<div class="page-header">
		<div class="page-header-inner">
			<div class="heading">
				<h2>Страница профиля </h2>
			</div><!-- /.heading -->

			<div class="line">
				<hr/>
			</div><!-- /.line -->
		</div><!-- /.page-header-inner -->
	</div><!-- /.page-header -->


	<div class="row">
		<div class="col-md-12">
			
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{user.first_name}} {{user.last_name}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Логин:</td>
                        <td>{{user.username}}</td>
                      </tr>             
                      <tr>
                        <td>Email</td>
                        <td><a href="">{{user.email}}</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <form action="" method="POST" class="text-center label_black"  role="form">
                {% csrf_token %}
                <h5 style="color:#f95446;">Редактировать</h5>
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">{{error_message}}<br></div>
                {% endif %}

                {% if first_name_error %}
                    <div class="alert alert-danger" role="alert">{{first_name_error}}</div>
                {% endif %}
                <div class="form-group">
                  <label for="input-10">
                    Ф.И.О
                  </label>
                  <input required name="first_name" value="{{user.first_name}}"  class="form-control" type="text" id="input-10" />
                </span>
                <br>
                {% if email_error %}
                    <div class="alert alert-danger" role="alert">{{email_error}}</div>
                {% endif %}
                  <label for="input-11">
                    Email
                  </label>
                <div class="form-group">
                  <input required name="e_mail" value="{{user.email}}" class="form-control" type="text" id="input-11" />
                  
                </div>
                <br><br><br>
                    <div class="span7">
                      <input id = 'signup-btn' type='submit' value='Отредактировать'  class="form-control input input--jiro btn btn-primary btn-md " role="button">
                    </div>
                </form>
                </div>
              </div>
            </div>
      </div>				
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</div><!-- /.block -->                    
</div><!-- /#main -->
</div><!-- /.col-md-9 -->
</div>
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.section -->
</div><!-- /#content -->  

</div><!-- /.container -->


<!-- Includes footer form tempate folder outside -->
{% include "footer.html" %}


<!-- Model pages -->

<!-- /#includes exti modal page-->
{% include "exit_modal_page.html" %}


<script src=" {% static 'js/release11/jquery.js' %}"></script>
<script src="../code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src=" {% static 'js/release11/jquery.ui.js' %}"></script>
<script src=" {% static 'js/release11/bootstrap.js' %}"></script>
<script src=" {% static 'js/release11/cycle.js' %}"></script>
<script src=" {% static 'libraries/jquery.bxslider/jquery.bxslider.js' %}"></script>
<script src=" {% static 'libraries/easy-tabs/lib/jquery.easytabs.min.js' %}"></script>
<script src=" {% static 'libraries/chosen/chosen.jquery.js' %}"></script>
<script src=" {% static 'libraries/star-rating/jquery.rating.js' %}"></script>
<script src=" {% static 'libraries/colorbox/jquery.colorbox-min.js' %}"></script>
<script src=" {% static 'libraries/jslider/bin/jquery.slider.min.js' %}"></script>
<script src=" {% static 'libraries/ezMark/js/jquery.ezmark.js' %}"></script>
<script src=" {% static 'js/myjs.js'%}"></script>

<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.canvas.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.time.js' %}"></script>

<script src=" {% static 'MDB/js/modules/jquery-easing.js' %}"></script>
<script src=" {% static 'MDB/js/modules/wow.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;v=3.13"></script>
<script src=" {% static 'MDB/js/mdb.js' %}"></script>
<script src=" {% static 'js/release11/carat2.js' %}"></script>
</body>
</html>