{% extends "auths/base.html" %}
{%load staticfiles%}
{% block roadmap %}
<li><a href="">Certification</a></li>
{% endblock %}
{% block content %}
<div class="section gray-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="page-header">
                    <div class="page-header-inner">
                        <div class="line">
                            <hr/>
                        </div>
                        <!-- /.line -->
                        <div class="heading text-center">
                            <h2> iBox Certificate </h2>
                        </div>
                        <!-- /.heading -->
                        <div class="line">
                            <hr/>
                        </div>
                        <!-- /.line -->
                    </div>
                    <!-- /.page-header-inner -->
                </div>
                <!-- /.page-header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="content white">
                            <div class="inner">
                                <p>Покупка Сертифицированного телефона – это самый безопасный и удобный способ преобретения б/у телефона. <br>
                                Мы предоставляем 100% гарантию на любой б/у телефон, который вы приобретете у нас.</p>
                                <br> 
                                <h5 style="color: orangered" class="text-center"> Что такое Сертификация ? </h5>
                                <div style="padding: 10px" class="container-fluid">
                                    <h6 style="line-height: 1.5; color: #333"> iBox Сертификация это сертификат который выдается определенному девайсу после того как девайс прошел как внешнюю так и внутреннюю проверку специалистами компании iBox .<br>
Сертификат подтверждает что данный девайс не имеет никаких дефектов и в идеальном рабочем состоянии. </h6>
                                </div>
                                <br>
                                <h5 style="color: orangered" class="text-center"> Какие преимущества у Сертифицированных девайсов ? </h5>
                                <div style="padding: 10px" class="container-fluid">
                                    <h6 style="line-height: 1.5; color: #333"> Компания iBox дает полную гарантию того что девайс в идеальном состоянии без никаких дефектов, срок гарантии меняется в зависимости от типа девайса от 3-х недель до месяца. </h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <button class="btn-primary waves-effect hoverable"> Посмотреть сертифицированные девайсы сейчас </button>
                                    </div>
                                </div>
                                <br>
                                <br>               
                            </div>
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-md-9 -->
        </div>
    </div>
</div>
{% endblock %}