{% extends "auths/base.html" %}
{%load staticfiles%}
{% block roadmap %}
<li><a href="{% url 'auths:profile'%}">{{user.username}}</a></li>
<li><a href="">cменить пароль</a></li>
{% endblock %}
{% block content %}
{% include 'add_instance_icons.html' %}
<div class="section gray-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div id="main">
                    <div class="row-block block" id="best-deals">
                        <div class="page-header">
                            <div class="page-header-inner">
                                <div class="heading">
                                    <h2>Страница профиля </h2>
                                </div>
                                <!-- /.heading -->
                                <div class="line">
                                    <hr/>
                                </div>
                                <!-- /.line -->
                            </div>
                            <!-- /.page-header-inner -->
                        </div>
                        <!-- /.page-header -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{user.first_name}} {{user.last_name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class=" col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                        <tr>
                                                            <td>Логин:</td>
                                                            <td>{{user.username}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Email</td>
                                                            <td><a href="">{{user.email}}</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <form action="" method="POST" class="text-center"  role="form">
                                                    {% csrf_token %}
                                                    <h5 style="color:#f95446;">Сменить пароль</h5>
                                                    {% if password_error %}
                                                    <div class="alert alert-danger" role="alert">{{password_error}}<br></div>
                                                    {% endif %}
                                                    {% for field in form %}
                                                        <div class="form-group">
                                                            {{field.label_tag}}
                                                            {% if field.errors %}
                                                            <div class="alert alert-danger" role="alert">{{field.errors}}</div>
                                                            {% endif %}
                                                            {{field}}
                                                        </div>
                                                    {% endfor %}
                                                    <div class="span7">
                                                        <input id = 'signup-btn' type='submit' value='Сменить пароль'  class="input input--jiro btn btn-primary " role="button">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.block -->                    
                </div>
                <!-- /#main -->
            </div>
            <!-- /.col-md-9 -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}