{% extends "auths/base.html" %}
{%load staticfiles%}
{% block roadmap %}
<li><a href="#">Избранные объявления </a></li>
{% endblock %}
{% block content %}
<div class="section gray-light">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-sm-12">
                <div id="main">
                    <div class="row-block block" id="best-deals">
                        <div class="page-header">
                            <div class="page-header-inner">
                                <div class="heading">
                                    <h2>Мои избранные объявления</h2>
                                </div>
                                <!-- /.heading -->
                                <div class="line">
                                    <hr/>
                                </div>
                                <!-- /.line -->
                            </div>
                            <!-- /.page-header-inner -->
                        </div>
                        <!-- /.page-header -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#ads_to_sell" aria-controls="ads_to_sell" role="tab" data-toggle="tab" > Продам </a></li>
                            <li role="presentation"><a href="#ads_to_buy" aria-controls="ads_to_buy" role="tab" data-toggle="tab">Куплю</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="ads_to_sell">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content white">
                                            <div class="inner">
                                                {% for wish_instance in instances %}
                                                {% with wish_instance.instance as instance %}  
                                                {% include 'instances_list.html' %}
                                                {% endwith %}
                                                {% empty %} 
                                                <h4 class="text-center">У вас еще нет избранных объявлений. (продам) </h4>
                                                {% endfor %}                        
                                            </div>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.col-md-12 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ads_to_buy">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content white">
                                            <div class="inner">
                                                {% for wish_instance in instances_to_buy %}
                                                {% with wish_instance.instance_buy as instance %}  
                                                {% include 'instances_list_buy.html' %}
                                                {% endwith %}
                                                {% empty %} 
                                                <h4 class="text-center">У вас еще нет избранных объявлений. (хочу купить) </h4>
                                                {% endfor %}                                                   
                                            </div>
                                        </div>
                                        <!-- /.content -->
                                    </div>
                                    <!-- /.col-md-12 -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                    <!-- /.block -->                    
                </div>
                <!-- /#main -->
            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->
{% include 'add_instance_icons.html' %}
{% endblock %}