{% extends "auths/base.html" %}
{%load staticfiles%}
{% block roadmap %}
<li><a href="">{{user.username}}</a></li>
{% endblock %}
{% block content %}
<div class="section gray-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div id="main">
                    <div class="row-block block" id="best-deals">
                        <div class="page-header">
                            <div class="page-header-inner">
                                <div class="heading">
                                    <h2>Страница профиля </h2>
                                </div>
                                <!-- /.heading -->
                                <div class="line">
                                    <hr/>
                                </div>
                                <!-- /.line -->
                            </div>
                            <!-- /.page-header-inner -->
                        </div>
                        <!-- /.page-header -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{user.first_name}} {{user.last_name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-2 col-lg-2 " align="center">  </div>
                                            <div class=" col-md-8 col-lg-8 ">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                        <tr>
                                                            <td>Логин:</td>
                                                            <td>{{user.username}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Email</td>
                                                            <td><a href="">{{user.email}}</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h6 class="text-center"><a href="{% url 'auths:modify_profile'%}">Редактировать аккаунт</a></h6>
                                                <h6 class="text-center"><a href="{% url 'auths:change_password'%}">Сменить пароль</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.block -->                    
                </div>
                <!-- /#main -->
            </div>
            <!-- /.col-md-9 -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% include 'add_instance_icons.html' %}
{% endblock %}