{%load staticfiles%}
<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="купить, продать, смартфоны, сотка, бишкек, кыргызстан, купить смартфон в бишкеке, ноутбуки, iphone в бишкеке, продать в бишкеке, apple, macbook, ultrabook, ibox">
    <meta name="author" content="iBox Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/bootstrap.min.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'libraries/chosen/chosen.min.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'libraries/pictopro-outline/pictopro-outline.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'libraries/pictopro-normal/pictopro-normal.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'libraries/colorbox/colorbox.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'libraries/jslider/bin/jquery.slider.min.css' %}" media="screen, projection">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/mycss.css' %} " media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/carat2.css' %} " media="screen, projection">

    <!-- Material Design -->
    <link rel="stylesheet" type="text/css" href=" {% static 'MDB/css/mdb_pro.css' %} " media="screen, projection">
    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,400,700,400italic,700italic" rel="stylesheet" type="text/css"  media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/my.css' %} " media="screen, projection">

{% include 'metrics.html' %}
    <title>iBox | Покупай и продавай вместе с нами!</title>
</head>
<body>
<!-- Include header template-->
{% include "header.html"%}

<div class="infobar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb pull-left">
		  			<li><a href="{% url 'main:main'%}">Главная</a></li>
                    <li><span style="color:white">Регистрация</span></li>
				</ol>

				<div class="contact pull-right">
					<div class="contact-item mail">
						<div class="label"><i class="icon icon-normal-mail"></i></div><!-- /.label -->
						<div class="value">info@ibox.kg</div><!-- /.value -->
					</div><!-- /.mail -->
				</div><!-- /.contact -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.infobar -->  

<div id="content" class="frontpage">

	<div class="filter-wrapper">
    {% include 'messages.html' %}
        

    	<div class="section gray-light">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h4>Регистрация через</h4>
                    <a href="/accounts/facebook/login/?proccess=login"><img height="60" src="{% static 'images/face_icon.png'%} "></a>
                    <a href="/accounts/vk/login/?proccess=login"><img height="60" src="{% static 'images/vk_icon.png'%} "></a>
                </div>
                <div class="col-md-4 col-md-offset-4 text-center">
                     <form action="" method="POST" class="label_black" role="form" style="padding-bottom:75px; padding-top:25px;">
                        {% csrf_token %}
                        <h4>Регистрация</h4>
                        <br>
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">{{error_message}}<br></div>
                        {% endif %}

                        <br>
                          {% if username_error %}
                              <div class="alert alert-danger" role="alert">{{username_error}}</div>
                          {% endif %}
                        <div class="form-group">
                          <label  for="input-12">
                            Логин
                          </label>
                          <input required name="username"  value="{{username}}" class="form-control" type="text" id="input-12" />
                        </div>

                          {% if password_error %}
                            <div class="alert alert-danger" role="alert">{{password_error}}</div>
                          {% endif %}
                        <div class="form-group">
                          <label  for="input-13">
                            Пароль
                          </label>
                          <input required name="password1" type="password" class="form-control"  id="input-13" />
                        </div>
                        
                        <div class="form-group">
                          <label for="input-10">
                            <span >Повторный пароль</span>
                          </label>
                          <input required  class="form-control" name="password2" type="password"  id="input-10" />
                        </div>

                        {% if first_name_error %}
                            <div class="alert alert-danger" role="alert">{{first_name_error}}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="input-14">
                            Фамилия и имя
                            </label>
                            <input required name="first_name" value="{{first_name}}" class="form-control" type="text" id="input-14" />
                        </div>
                          {% if email_error %}
                              <div class="alert alert-danger" role="alert">{{email_error}}</div>
                          {% endif %}
                        <div class="form-group">
                          <label for="input-11">
                           Email
                          </label>
                          <input required name="e_mail" value="{{email}}" class="form-control" type="text" id="input-11" />
                        </div>
                        <br>
                        <br>
                            <div class="span7">
                              <input id = 'signup-btn' type='submit' value='Зарегистрироваться'  class="btn input input--jiro btn-primary btn-md form-control" role="button">
                            </div>
                      </form>
                </div>
            </div>

        </div><!-- /.section -->
    </div>
</div>

<!-- Includes footer form tempate folder outside -->
{% include "footer.html" %}
   



<script src=" {% static 'js/release11/jquery.js' %}"></script>
<script src="../code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src=" {% static 'js/release11/jquery.ui.js' %}"></script>
<script src=" {% static 'js/release11/bootstrap.js' %}"></script>
<script src=" {% static 'js/release11/cycle.js' %}"></script>
<script src=" {% static 'libraries/jquery.bxslider/jquery.bxslider.js' %}"></script>
<script src=" {% static 'libraries/easy-tabs/lib/jquery.easytabs.min.js' %}"></script>
<script src=" {% static 'libraries/chosen/chosen.jquery.js' %}"></script>
<script src=" {% static 'libraries/star-rating/jquery.rating.js' %}"></script>
<script src=" {% static 'libraries/colorbox/jquery.colorbox-min.js' %}"></script>
<script src=" {% static 'libraries/jslider/bin/jquery.slider.min.js' %}"></script>
<script src=" {% static 'libraries/ezMark/js/jquery.ezmark.js' %}"></script>
<script src=" {% static 'js/myjs.js'%}"></script>

<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.canvas.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.time.js' %}"></script>
<script src=" {% static 'MDB/js/modules/jquery-easing.js' %}"></script>
<script src=" {% static 'MDB/js/modules/wow.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;v=3.13"></script>
<script src=" {% static 'MDB/js/mdb.js' %}"></script>
<script src=" {% static 'js/release11/carat2.js' %}"></script>
{% if test_popup %}
    {% include "popUp.html"%}
{% endif %}
</body>

</html>