{%load staticfiles%}
<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="купить, продать, смартфоны, сотка, бишкек, кыргызстан, купить смартфон в бишкеке, ноутбуки, iphone в бишкеке, продать в бишкеке, apple, macbook, ultrabook, ibox">
    <meta name="author" content="iBox Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/bootstrap.min.css' %}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'libraries/colorbox/colorbox.css' %}" media="screen, projection">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/mycss.css' %} " media="screen, projection">

    <!-- Material Design -->
    <link rel="stylesheet" type="text/css" href=" {% static 'MDB/css/mdb_pro.css' %} " media="screen, projection">
    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,400,700,400italic,700italic" rel="stylesheet" type="text/css"  media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/my.css' %} " media="screen, projection">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/release11/carat2.css' %} " media="screen, projection">
{% include 'metrics.html' %}

    <title>iBox | Купить {{category}} в Бишкеке</title>
</head>
<body onload="">

<!-- Include header template-->
{% include "header.html"%}

<div class="infobar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb pull-left">
            <li><a href="{% url 'main:main'%}">Главная</a></li>
            <li><a href="">добавить объявление</a></li>
        </ol>
        <div class="contact pull-right">
          <div class="contact-item mail">
            <div class="label"><i class="icon icon-normal-mail"></i></div><!-- /.label -->
            <div class="value">info@ibox.kg</div><!-- /.value -->
          </div><!-- /.mail -->
        </div><!-- /.contact -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.infobar -->  

<div id="content" class="frontpage">

  <div class="filter-wrapper">
    
    {% include 'messages.html' %}

    <div class="section gray-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div id="main">
                        <div class="row-block block" id="best-deals">
  <div class="page-header">
    <div class="page-header-inner">
      <div class="heading">
        <h5> Хочу купить {{category}} </h5>
      </div><!-- /.heading -->

      <div class="line">
        <hr/>
      </div><!-- /.line -->
    </div><!-- /.page-header-inner -->
  </div><!-- /.page-header -->
  <div class="row">
    <div class="col-md-12">
      
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{user.first_name}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <form action="" method="POST" enctype="multipart/form-data" class="text-center label_black"  role="form">
                  {% csrf_token %}
                  <h5 style="color:#f95446;">Новое объявление</h5>
                  {% if error_message %}
                      <div class="alert alert-danger" role="alert">{{error_message}}<br></div>
                  {% endif %}
                  <div class="form-group">
                    <label for="city">
                      Город 
                    </label>
                    <select class="form-control" name="city" id="city"  required>
                      {% for city in cities %}
                          <option value="{{city.name}}">{{city.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="title">
                      Название объявления
                    </label>
                    
                  {% if category == 'Телефон' %}
                    <input class="form-control" name="title" id="title" required type="text" maxlength="60" placeholder="пример:Куплю (Б/У) iPhone 6 64Гб Gold за 33 000 сом">
                    </div>
                    <div class="form-group" onchange="javascript:Check_phones();">
                  {% elif category == 'Ноутбук' %}
                    <input class="form-control" name="title" id="title" required type="text" maxlength="60" placeholder="пример:Куплю (Б/У) MacBook Air  за 47 000 сом">
                    </div>
                    <div class="form-group" onchange="javascript:Check_notebooks();">
                  {% elif category == 'Планшеты' %}
                    <input class="form-control" name="title" id="title" required type="text" maxlength="60" placeholder="пример:Куплю (Б/У) iPad Air 2 64Гб Gold за 24 000 сом">
                    </div>
                    <div class="form-group" onchange="javascript:Check_tablets();">
                  {% elif category == 'Аксессуар'%}
                    <input class="form-control" name="title" id="title" required type="text" maxlength="60" placeholder="пример:Куплю (Б/У) Роутер 1 000 сом">
                    </div>
                    <div class="form-group" onchange="javascript:Check_accessories();">
                  {% else %}
                    <div class="form-group">
                  {% endif %}
                  
                  <label for="brand">
                    Бренд 
                  </label>
                  <select class="form-control" name="brand" id="brand" required>
                    {% for brand in brands %}
                        {% if brand.modell_set.all.count > 0%}
                            <option value="{{brand.title}}">{{brand.title}}</option>
                        {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  {% for brand in brands %}
                  <div class="center" name="{{brand.title}}" id="{{brand.title}}" style="display:none">
                      <label for="model_id">
                      Модель
                      </label>
                      <select required class="form-control" name="{{brand.title}}" id="{{brand.title}}_second"  >
                        {% for model in brand.modell_set.all%}
                          {% if model.is_not_unique == True %}
                            <option value="{{model.id}}_isnot">{{model.title}}</option>
                          {% else %} 
                            <option value="{{model.id}}" >{{model.title}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                  </div>
                  {% endfor %}   
                </div>
                <div class="form-group"> 
                  {% for brand in brands %} 
                    <input type="text" style="display:none" class="form-control" name="{{brand.title}}_unique" id="{{brand.title}}_first" placeholder="Введите модель " >
                  {% endfor %}
                </div>
                <div class="form-group">
                  <label for="input-12">
                  Описание
                  </label>
                  {% if category == 'Телефон' %}
                    <textarea required placeholder="например: Куплю iPhone 6 в хорошем состоянии, буду давать предпочтение телефонам с коробкой. " name="note" id="input-12" class="input form-control" rows="4" id="note"></textarea>
                  {% elif category == 'Ноутбук' %}
                    <textarea required placeholder="например: Куплю MacBook Air в хорошем состоянии, буду давать предпочтение MacBook с коробкой. " name="note" id="input-12" class="input form-control" rows="4" id="note"></textarea>
                  {% elif category == 'Планшеты' %}
                    <textarea required placeholder="например: Куплю iPad Air 2 в хорошем состоянии, буду давать предпочтение планшетам с коробкой. " name="note" id="input-12" class="input form-control" rows="4" id="note"></textarea>
                  {% elif category == 'Аксессуар'%}
                    <textarea required placeholder="например: Куплю Роутер в хорошем состоянии, буду давать предпочтение pоутерам с коробкой. " name="note" id="input-12" class="input form-control" rows="4" id="note"></textarea>
                  {% else %}
                   <textarea required placeholder="например: Куплю iPhone 6 в хорошем состоянии, буду давать предпочтение телефонам с коробкой. " name="note" id="input-12" class="input form-control" rows="4" id="note"></textarea>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="input-13">
                   Минимальная Цена(в сомах)
                  </label>
                  <input required name = "min_price" min = "0" placeholder="например: 10 000" class="form-control" type="number" id="input-13" />
                </div>
                <div class="form-group">
                  <label for="input-13">
                   Максимальная Цена(в сомах)
                  </label>
                  <input required name = "max_price" min = "0" placeholder="например: 15 000" class="form-control" type="number" id="input-13" />
                </div>
                <div class="form-group">
                  <label for="input-11">
                    Номер телефона
                  </label>
                    <input required name = "telephone" class="form-control" placeholder="например: 0555123456" type="text" id="input-11" />
                </div>
                
                <br><br><br>
                    <div class="span7">
                      <input type='submit' value='Подать объявление'  class="send btn-sm btn-rounded btn-primary btn-primary-color " role="button">

                    </div>
                </form>
                </div>
              </div>
            </div>
      </div>        
    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
</div><!-- /.block -->                    
</div><!-- /#main -->
</div><!-- /.col-md-9 -->
</div>
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.section -->

</div><!-- /#content -->  

<!-- Includes footer form tempate folder outside -->
{% include "footer.html" %}


<!-- Model pages -->

<!-- /#includes exti modal page-->
{% include "exit_modal_page.html" %}


<script src=" {% static 'js/release11/jquery.js' %}"></script>
<script src="../code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src=" {% static 'js/release11/jquery.ui.js' %}"></script>
<script src=" {% static 'js/release11/bootstrap.js' %}"></script>
<script src=" {% static 'js/release11/cycle.js' %}"></script>
<script src=" {% static 'libraries/jquery.bxslider/jquery.bxslider.js' %}"></script>
<script src=" {% static 'libraries/easy-tabs/lib/jquery.easytabs.min.js' %}"></script>
<script src=" {% static 'libraries/chosen/chosen.jquery.js' %}"></script>
<script src=" {% static 'libraries/star-rating/jquery.rating.js' %}"></script>
<script src=" {% static 'libraries/colorbox/jquery.colorbox-min.js' %}"></script>
<script src=" {% static 'libraries/jslider/bin/jquery.slider.min.js' %}"></script>
<script src=" {% static 'libraries/ezMark/js/jquery.ezmark.js' %}"></script>
<script src=" {% static 'js/myjs_for_addinstance.js'%}"></script>

<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.canvas.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src=" {% static 'libraries/flot/jquery.flot.time.js' %}"></script>


<script src=" {% static 'MDB/js/modules/jquery-easing.js' %}"></script>
<script src=" {% static 'MDB/js/modules/wow.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;v=3.13"></script>
<script src=" {% static 'MDB/js/mdb.js' %}"></script>
<script src=" {% static 'js/release11/carat2.js' %}"></script>
</body>
</html>