<a href="{% url 'fishkas:delete_from_wishlist' instance.id %}?operation=buy" class="love_delete btn-floating btn-small waves-effect waves-light top-btn" style="background-color: #fff" data-toggle="tooltip" data-placement="left" data-original-title="Удалить из избранных"> 
 <i id="icon" class="fa fa-thumbs-o-down" style="text-shadow: none; font-size: 32px; color: rgb(0, 62, 85); height: 47px; width: 47px; line-height: 42px; border-radius: 50%; text-align: center; background-color: rgb(255, 255, 255);"></i>
 </a> 
