<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

				<div class="title text-center">
					<h5>Мы в социальных сетях</h5>
				</div><!-- /.title -->

				<div class="items text-center">
                    <a href="https://www.facebook.com/Kg-IBox-1552915341687942/" target="_blank" style="text-decoration: none;"><i class="fa fa-facebook fa-3x" style="margin-right: 10px;"></i> <h5 style="display:inline" >Facebook </h5></a>

                    <a href="https://instagram.com/ibox.kg/" target="_blank" style="text-decoration: none;"><i class="fa fa-instagram fa-3x" style="margin-right: 10px; margin-left: 20px;"></i><h5 style="display:inline">Instagram</h5></a>
				</div><!-- /.items -->
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="title text-center">
						<h5 class="text-center">Скажи нам привет</h5>
					</div><!-- /.title -->
                        <form method="post" action="{% url 'fishkas:message'%}" role="form">
						{% csrf_token %}
						<div class="input-group">
                            <span class="input-group-btn">
						      <textarea class="form-control" name="message" placeholder='Пишите сюда все что захотите. Что по сайту нравится , не нравится , свои предпочтения и все что хочешь. Если вообще нечего писать то тогда напишите что то типа "Челси чемпион!" .' rows="4" required=""></textarea>
                            </span>
                        </div>
                        <div class="input-group">
                        	<input type="hidden" value="{{user.username}}" name="username">
                        </div>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default form-control waves-effect" type="submit" value="Отправить">Отправить!</button>
                            </span>
                        </div>
                    </form>
            </div>

		</div><!-- /.row -->
	</div><!-- /.container -->

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 clearfix">
					<div class="copyright">
						&copy; iBox 2016<span class="separator">/</span>  Все права защищены <span class="separator" style="margin-right: 10px;"></span>
                    </div><!-- copyright -->
					<ul class="nav nav-pills">
						<li><a href="#"><i class="fa fa-arrow-up"></i>Вверх<i class="fa fa-arrow-up"></i></a></li>
					</ul><!-- /.nav -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.footer-bottom -->
</footer><!-- /#footer -->