{%load staticfiles%}
<div class="section " style="padding: 10px 0px 0px 0px;">
    <div class="container text-center" style="">
        <div class="view overlay hm-green-strong hoverable">
                <a target="_blank" href="{% url 'sport:make_bet_rd'%}">
                <img id='banner_bet' src="{% static 'images/banner_bet_football.png'%}" class="img-responsive" alt="" style="margin-left: auto;
margin-right: auto;">

                <div class="mask">
                    <div class="verticalcenter">
                        <h3 class="white-text text-center">Жми на меня </h3>
                    </div>
                </div>
                </a>
            </div>
     </div>     
</div>