<section style="background-color:#f95446; ">
    <div class="text-center">
        <nav>
            <ul class="pager" style="margin: 0px 0px 15px 0px; padding: 7px 7px 0px 7px" >
                {% if instances_buy.has_previous %}
                    <li class="previous"><a href="?page={{ instances.number }}&page_buy={{ instances_to_buy.previous_page_number }}&tab=buy"><span aria-hidden="true">&larr;</span> Пред. </a></li>
                {% else %}
                    <li class="previous disabled" style="visibility: hidden;"><a href=""><span aria-hidden="true">&larr;</span> Пред. </a></li>
                {% endif %}
               <span style="color:white"><p style="display: inline-block;"> Страница {{ instances_to_buy.number }} из {{ instances_to_buy.paginator.num_pages }}.</p> </span>
                {% if instances_buy.has_next %}
                    <li class="next"><a href="?page={{ instances.number }}&page_buy={{ instances_to_buy.next_page_number }}&tab=buy">След. <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="next disabled" style="visibility: hidden;"><a href="">След. <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>